@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

#root {
	font-family: 'Roboto', sans-serif;
}

.or-lines {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.or-line {
	border: 1px solid #212529;
	height: 0px;
	width: 125px;
}

.login-interface {
	text-align: center;
	width: 450px;
	margin: 10em auto;
}
.account-btn {
	margin-bottom: 1em;
}
.form-control {
	margin-bottom: 1em;
}

.input-group-text {
	margin-bottom: 1em;
}

.topNav {
	position: fixed !important;
	width: 100% !important;
	z-index: 100;
}

.home-page {
	display: flex;
	justify-content: center;
}

.posts-n-add {
	margin-top: 4em !important;
}

.xtra {
	display: flex;
	justify-content: flex-end;
}

#addPost {
	margin: 1em 0;
	position: fixed;
	width: 48px;
	height: 48px;
	border-radius: 27px;
	justify-content: center;
}

.Posts {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0;
}

.post {
	margin: 0.5em 0em 0.5em 1em;
	width: 400px;
	cursor: pointer;
}

.post-header {
	display: flex;
	justify-content: space-between;
}

.bottom-post-btns {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.post-btn {
	width: 50%;
}

.all-comments {
	flex-direction: column;
}

.comment {
	display: flex;
	flex-direction: column;
	border: none !important;
	border-radius: 10px;
}

.comment-body {
	padding: 0 !important;
}

.comment-header {
	font-size: 15px;
	margin: 0;
}

.comment-body {
	margin: 0 0 0.5em;
}

button.need-it-smaller {
	font-size: 13px;
	padding: 0 2em;
}

.post-comment-btn {
	width: 29%;
	align-self: flex-end;
}
